.supermarket {
  width: 100%;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  .supermarket__center {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #eaeeeb;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    .supermarket__center__1 {
      padding-top: 10px;
      padding-right: 10px;
      width: 8%;
    }
    .supermarket__center__2 {
      width: 20%;
      padding-top: 5px;
      svg {
        width: 220px;
      }
    }
    .supermarket__center__3 {
      width: 10%;
      height: 40px;
      margin-top: 5px;
      margin-left: 20px;
      background-color: #52ae06;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        span {
          display: flex;
          color: white;
          font-family: var(--fontFamilyBold);
          font-size: 18px;
        }
      }
    }
    .supermarket__center__4 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    }
    .supermarket__center__5 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    .supermarket__center__6 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    .supermarket__center__7 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    .supermarket__center__8 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    .supermarket__center__9 {
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 50%;
      }
    }
    .supermarket__center__10 {
      width: 10%;
      height: 60px;
      background-color: white;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        display: flex;
        flex-flow: row wrap;
        span {
          display: flex;
          color: #52ae06;
          font-family: var(--fontFamilyBold);
          font-size: 14px;
        }
        svg {
          display: flex;
          margin-right: 7px;
          fill: #52ae06 !important;
        }
      }
    }
  }
}
